$color-1:  #b3e5fc; //#205592;
$color-1-light: #e6ffff;    //*#f44336;
$color-1-dark: #82b3c9;    //*#f44336;
$color-active: #e6ffff; //#555
$body-font-size: 17px;
$body-color: white;
$body-color-text: black;
$header-color-text: black;
$nav-color-text: black;
$nav-hover-text: grey;
$header-font-size: 140%;
$alert-color: #ef9a9a; // old orange: #d8640b Soft red:  920300 Google red: #B00020;#FF8000;B44E09
$alert-text-color: black;  // #FF8000;
$alert-link-color: black;  // #FF8000;
$alert-hover-color: white;   //#bababa
$mob-pixels: 1109px; //763px;
/// Don't forget to update the pixel width in assets/js/navigation.js. If these values are different, some coloration will be weird.
$nav-font-size: 1em;
$font-mono: "Courier New", Courier, monospace; 
$font-sans: Helvetica, Arial, sans-serif;
$font-serif: Georgia, serif;
$serif-spacing: 1.5px;
@import "font.scss";
/// Don't forget to update the pixel width in assets/js/navigation.js. If these values are different, some coloration will be weird.
$text-width: 50em; //Sets the widge of the text on the page.
