---
---
@import 'colors';

.navbar {
  overflow: hidden;
  z-index: 500;
  width:100%;
  font-family: $font-sans;
  font-weight: bold;
  a,#response,button,.search-container {
    display: block;
    padding: 14px 12px;
    color: $nav-color-text;
    text-align: center;
    font-family: $font-sans;
    font-size: $nav-font-size;
    font-weight: bold;
  }

  a.active,a.active:hover,a:hover {
     background-color: $color-active;
     color: $nav-color-text;
  }
  .icon {
     display: none;
   }

  // widescreen search
  .search-container {
     flex: 1 0 auto;
     display: flex;
     justify-content: flex-end;
     align-items: center;
     margin: 0px 0 0;
     padding: 0;
   }
      input[type=search] {
        width: 1px;
        font-family: $font-sans;
        font-size: 1em;
        font-weight: normal;
        flex: 1 1 210px;
        padding: 14px 10px;
        border: none;
        outline: none;
        transition: width 0.4s ease-in-out;
        // -webkit-backface-visibility: hidden;
        -webkit-appearance: none;
   }
     .search-container button {
     flex: 0 0 auto;
     padding: 14px;
   //  margin-right: 4px;
     background-color: $color-1-light;
     color: $nav-color-text;
     font-size: 1em;
     border: none;
     transition: color 0.3s;
     cursor: pointer;
     &:hover {
        color: $body-color-text;
     }
  }
}
